
Thumbnail = {
	Snapshot = {
		"content/models/lake/lake.unit" = {
			far_range = 10000
			interest_point_distance = 25.594135
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-6.183436
				147.616898
				3.566125
			]
			projection_type = "perspective"
			rotation = [
				0.20696
				0.075147
				-0.332921
				-0.916888
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/plant/plant.unit" = {
			far_range = 10000
			interest_point_distance = 3.710139
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-6.016696
				150.571091
				0.825526
			]
			projection_type = "perspective"
			rotation = [
				0.063023
				0.059816
				-0.685808
				-0.722577
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/flower/flowerA.unit" = {
			far_range = 10000
			interest_point_distance = 2.720382
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-6.091425
				121.961563
				1.03273
			]
			projection_type = "perspective"
			rotation = [
				0.169089
				0.237101
				-0.77888
				-0.555462
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/flower/flowerB.unit" = {
			far_range = 10000
			interest_point_distance = 5.435453
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				4.061834
				159.66217
				1.096436
			]
			projection_type = "perspective"
			rotation = [
				-0.200227
				-0.340951
				0.792032
				0.46513
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/flower/flowerC.unit" = {
			far_range = 10000
			interest_point_distance = 2.11433
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-6.696435
				155.123703
				0.85514
			]
			projection_type = "perspective"
			rotation = [
				-0.166485
				-0.329378
				0.829468
				0.419257
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/flower/flowerD.unit" = {
			far_range = 10000
			interest_point_distance = 1.865451
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-3.471727
				162.653931
				1.175507
			]
			projection_type = "perspective"
			rotation = [
				-0.170436
				-0.394295
				0.828916
				0.358303
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/flower/flowerE.unit" = {
			far_range = 10000
			interest_point_distance = 1.896723
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-7.004457
				154.661728
				0.508852
			]
			projection_type = "perspective"
			rotation = [
				-0.101118
				-0.276156
				0.897504
				0.328632
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/flower/flowerF.unit" = {
			far_range = 10000
			interest_point_distance = 0.150735
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-2.982963
				152.525284
				0.457287
			]
			projection_type = "perspective"
			rotation = [
				-0.08235
				-0.147223
				0.860237
				0.481181
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/lake/lake.unit" = {
			far_range = 10000
			interest_point_distance = 14.372067
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-5.680363
				147.71077
				6.708941
			]
			projection_type = "perspective"
			rotation = [
				0.325715
				0.126632
				-0.339511
				-0.873273
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/plant/plant.unit" = {
			far_range = 10000
			interest_point_distance = -4.288602
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-6.03797
				150.573898
				0.796078
			]
			projection_type = "perspective"
			rotation = [
				0.063023
				0.059816
				-0.685808
				-0.722577
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/pool/pool.unit" = {
			far_range = 10000
			interest_point_distance = 7.548178
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				6.050451
				144.053909
				1.481919
			]
			projection_type = "perspective"
			rotation = [
				0.063023
				0.059816
				-0.685808
				-0.722577
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/pumpkin/pumpkinA.unit" = {
			far_range = 10000
			interest_point_distance = 7.203363
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				0.25652
				167.947845
				4.573126
			]
			projection_type = "perspective"
			rotation = [
				0.243727
				0.24053
				-0.659958
				-0.668729
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/pumpkin/pumpkinB.unit" = {
			far_range = 10000
			interest_point_distance = 0.395476
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-1.507179
				172.56221
				1.708438
			]
			projection_type = "perspective"
			rotation = [
				0.168477
				0.234007
				-0.777078
				-0.559469
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/pumpkin/pumpkinC.unit" = {
			far_range = 10000
			interest_point_distance = 2.746904
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				0.066954
				170.04718
				0.875647
			]
			projection_type = "perspective"
			rotation = [
				0.078174
				0.084675
				-0.729854
				-0.67382
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/pumpkin/pumpkinD.unit" = {
			far_range = 10000
			interest_point_distance = 9.903214
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-6.806214
				153.938461
				11.669326
			]
			projection_type = "perspective"
			rotation = [
				0.431967
				0.357825
				-0.528115
				-0.637542
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/stone/stoneB.unit" = {
			far_range = 10000
			interest_point_distance = 3.002347
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-3.020802
				145.521027
				3.853127
			]
			projection_type = "perspective"
			rotation = [
				0.212441
				0.15646
				-0.572001
				-0.776662
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/stone/stoneC.unit" = {
			far_range = 10000
			interest_point_distance = 2.180446
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-4.265612
				174.575577
				3.593764
			]
			projection_type = "perspective"
			rotation = [
				0.166758
				0.120135
				-0.572048
				-0.794053
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/stone/stoneD.unit" = {
			far_range = 10000
			interest_point_distance = 1.891126
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-3.162328
				158.023193
				1.393989
			]
			projection_type = "perspective"
			rotation = [
				0.179246
				0.132844
				-0.580418
				-0.783159
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/stone/stoneE.unit" = {
			far_range = 10000
			interest_point_distance = 6.650293
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				4.807719
				143.927734
				1.632077
			]
			projection_type = "perspective"
			rotation = [
				0.285279
				0.240676
				-0.598228
				-0.709094
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/stump/stump.unit" = {
			far_range = 10000
			interest_point_distance = 2.459189
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-2.627702
				132.046783
				1.620108
			]
			projection_type = "perspective"
			rotation = [
				0.285279
				0.240676
				-0.598228
				-0.709094
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/tree/treeA.unit" = {
			far_range = 10000
			interest_point_distance = 3.916085
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-0.567048
				152.215576
				3.029234
			]
			projection_type = "perspective"
			rotation = [
				0.123447
				0.096761
				-0.609264
				-0.7773
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/tree/treeB.unit" = {
			far_range = 10000
			interest_point_distance = 1.407262
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-0.308598
				161.951202
				2.947397
			]
			projection_type = "perspective"
			rotation = [
				0.123447
				0.096761
				-0.609264
				-0.7773
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/tree/treeC.unit" = {
			far_range = 10000
			interest_point_distance = 5.695018
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-1.347723
				137.200638
				3.048862
			]
			projection_type = "perspective"
			rotation = [
				0.123447
				0.096761
				-0.609264
				-0.7773
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/tree/treeD.unit" = {
			far_range = 10000
			interest_point_distance = 3.329122
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-7.729337
				143.848358
				2.06713
			]
			projection_type = "perspective"
			rotation = [
				0.123447
				0.096761
				-0.609264
				-0.7773
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/tree/treeE.unit" = {
			far_range = 10000
			interest_point_distance = 7.205763
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-2.79412
				142.233643
				2.62187
			]
			projection_type = "perspective"
			rotation = [
				0.123447
				0.096761
				-0.609264
				-0.7773
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage1/tree/treeF.unit" = {
			far_range = 10000
			interest_point_distance = 10.178572
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				7.594163
				160.215454
				2.541487
			]
			projection_type = "perspective"
			rotation = [
				0.123447
				0.096761
				-0.609264
				-0.7773
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/mushroom/mushroomA.unit" = {
			far_range = 10000
			interest_point_distance = 0.12568
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				0.285804
				122.060173
				1.594318
			]
			projection_type = "perspective"
			rotation = [
				0.121363
				-0.064765
				0.46633
				-0.87385
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/mushroom/mushroomB.unit" = {
			far_range = 10000
			interest_point_distance = 11.030066
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-14.726625
				118.735893
				1.088477
			]
			projection_type = "perspective"
			rotation = [
				0.087663
				-0.0518
				0.506081
				-0.856454
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/mushroom/mushroomC.unit" = {
			far_range = 10000
			interest_point_distance = 2.73277
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-6.263664
				122.255722
				1.017541
			]
			projection_type = "perspective"
			rotation = [
				0.196829
				-0.095372
				0.425492
				-0.878134
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/mushroom/mushroomD.unit" = {
			far_range = 10000
			interest_point_distance = 5.531258
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-5.22087
				114.680229
				0.544035
			]
			projection_type = "perspective"
			rotation = [
				0.196829
				-0.095372
				0.425492
				-0.878134
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/plant/plantA.unit" = {
			far_range = 10000
			interest_point_distance = 10.178636
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-11.672211
				108.771027
				1.525188
			]
			projection_type = "perspective"
			rotation = [
				0.18247
				-0.097727
				0.461903
				-0.862438
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/plant/plantB.unit" = {
			far_range = 10000
			interest_point_distance = 11.435873
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-12.133204
				108.609947
				0.716869
			]
			projection_type = "perspective"
			rotation = [
				0.054003
				-0.045229
				0.640482
				-0.764736
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/plant/plantC.unit" = {
			far_range = 10000
			interest_point_distance = 8.087566
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-13.732915
				122.183167
				1.316175
			]
			projection_type = "perspective"
			rotation = [
				0.056777
				-0.044175
				0.612476
				-0.787209
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/plant/plantD.unit" = {
			far_range = 10000
			interest_point_distance = 1.295762
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				2.478904
				116.123772
				1.873789
			]
			projection_type = "perspective"
			rotation = [
				0.126094
				-0.107552
				0.639976
				-0.750309
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/plant/plantE.unit" = {
			far_range = 10000
			interest_point_distance = 0.789137
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-3.99892
				116.142929
				1.323955
			]
			projection_type = "perspective"
			rotation = [
				-0.074527
				-0.225717
				0.922362
				0.304543
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/plant/plantF.unit" = {
			far_range = 10000
			interest_point_distance = 7.93496
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				3.437024
				125.323074
				1.269521
			]
			projection_type = "perspective"
			rotation = [
				-0.073171
				-0.226161
				0.924172
				0.299003
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/plant/plantG.unit" = {
			far_range = 10000
			interest_point_distance = 6.081464
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-12.076961
				134.189301
				2.598055
			]
			projection_type = "perspective"
			rotation = [
				-0.073171
				-0.226161
				0.924172
				0.299003
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/plant/plantH.unit" = {
			far_range = 10000
			interest_point_distance = 5.255655
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-0.071078
				124.428299
				3.800252
			]
			projection_type = "perspective"
			rotation = [
				0.151535
				0.15568
				-0.699466
				-0.680844
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/plant/plantI.unit" = {
			far_range = 10000
			interest_point_distance = 0.425661
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-7.745878
				121.261414
				2.219467
			]
			projection_type = "perspective"
			rotation = [
				0.151535
				0.15568
				-0.699466
				-0.680844
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/plant/plantJ.unit" = {
			far_range = 10000
			interest_point_distance = 0.505877
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-1.499757
				122.547783
				0.872405
			]
			projection_type = "perspective"
			rotation = [
				0.151535
				0.15568
				-0.699466
				-0.680844
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/stone/stoneA.unit" = {
			far_range = 10000
			interest_point_distance = -0.104108
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-1.71005
				124.396973
				1.253339
			]
			projection_type = "perspective"
			rotation = [
				-0.120291
				-0.201632
				0.834777
				0.498018
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/stone/stoneB.unit" = {
			far_range = 10000
			interest_point_distance = 6.248266
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				3.995285
				126.330795
				1.256993
			]
			projection_type = "perspective"
			rotation = [
				-0.120291
				-0.201632
				0.834777
				0.498018
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/stone/stoneC.unit" = {
			far_range = 10000
			interest_point_distance = 14.458715
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-2.100018
				116.743988
				0.743488
			]
			projection_type = "perspective"
			rotation = [
				-0.120291
				-0.201632
				0.834777
				0.498018
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/stone/stoneD.unit" = {
			far_range = 10000
			interest_point_distance = 7.070662
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-2.401667
				130.16098
				2.272015
			]
			projection_type = "perspective"
			rotation = [
				-0.120291
				-0.201632
				0.834777
				0.498018
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/stone/stoneE.unit" = {
			far_range = 10000
			interest_point_distance = 0.642763
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-2.80379
				116.389488
				1.193938
			]
			projection_type = "perspective"
			rotation = [
				-0.120291
				-0.201632
				0.834777
				0.498018
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/tree/treeA.unit" = {
			far_range = 10000
			interest_point_distance = 9.604168
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				3.307676
				121.177795
				3.205205
			]
			projection_type = "perspective"
			rotation = [
				0.032668
				0.028703
				-0.659428
				-0.750509
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/tree/treeB.unit" = {
			far_range = 10000
			interest_point_distance = 1.734022
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				1.363627
				137.726395
				3.64472
			]
			projection_type = "perspective"
			rotation = [
				0.032668
				0.028703
				-0.659428
				-0.750509
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/tree/treeC.unit" = {
			far_range = 10000
			interest_point_distance = 6.577579
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				2.477352
				105.384087
				3.219429
			]
			projection_type = "perspective"
			rotation = [
				0.032668
				0.028703
				-0.659428
				-0.750509
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/tree/treeD.unit" = {
			far_range = 10000
			interest_point_distance = 0.728296
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				0.837524
				116.594467
				1.550827
			]
			projection_type = "perspective"
			rotation = [
				0.032668
				0.028703
				-0.659428
				-0.750509
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/tree/treeE.unit" = {
			far_range = 10000
			interest_point_distance = 0.651328
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				-0.264609
				112.671722
				1.135813
			]
			projection_type = "perspective"
			rotation = [
				0.032668
				0.028703
				-0.659428
				-0.750509
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/tree/treeF.unit" = {
			far_range = 10000
			interest_point_distance = 3.493896
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				7.137887
				125.889954
				1.711756
			]
			projection_type = "perspective"
			rotation = [
				0.032668
				0.028703
				-0.659428
				-0.750509
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/tree/treeG.unit" = {
			far_range = 10000
			interest_point_distance = 6.075603
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				7.629916
				110.566795
				1.765076
			]
			projection_type = "perspective"
			rotation = [
				0.032668
				0.028703
				-0.659428
				-0.750509
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/tree/treeH.unit" = {
			far_range = 10000
			interest_point_distance = 6.123534
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				10.100828
				112.545418
				1.995743
			]
			projection_type = "perspective"
			rotation = [
				0.032668
				0.028703
				-0.659428
				-0.750509
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
		"content/models/stage2/tree/treeI.unit" = {
			far_range = 10000
			interest_point_distance = 11.070352
			near_range = 0.1
			orthographic_plane = [
				0
				0
				1
				1
			]
			orthographic_zoom = 10
			position = [
				13.136951
				124.710747
				3.208888
			]
			projection_type = "perspective"
			rotation = [
				0.032668
				0.028703
				-0.659428
				-0.750509
			]
			rotation_speed = 0.003
			translation_speed = 0.05
			vertical_fov = 45
		}
	}
}